
.Parent {
 padding-top: 2%;
margin-left: 35%;
 color: white;
 font-weight: bold;
width: 40%;
   .c1{
       margin-left: 18%;
       padding: 30px;
  } 
    .start{
      padding-top: 80px;
      margin-right: 20%;
 }
    .container h3{
        margin-left: 27%;
 }
    .sbtn{
      margin-left: 45%;
      padding: 2%;
      color: white;
      border:1px solid white
}
 .sbtn:hover{
   background-color: rgb(63, 61, 61);

}


 }
 
   .bdy{
     background: linear-gradient(90deg,rgb(89, 86, 86),rgb(10, 10, 10),rgb(23, 22, 22));
    
  }
